services:
- type: web
  name: ghost
  env: docker
  autoDeploy: false
  disk:
    name: ghost
    mountPath: /var/lib/ghost/content
    sizeGB: 1 #Feel free to change this to suit your needs.
  envVars:
    - key: database__client
      value: mysql
    - key: database__connection__host
      value: sql105.epizy.com/3306
    - key: database__connection__database
      value: epiz_33669804_ghost
    - key: database__connection__user
      value: epiz_33669804
    - key: database__connection__password
      value: urm5eatZOQ6A


#pserv removed from here
